<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DishDiscovery | share, explore, and collaborate on delicious recipes</title>
  <link rel="stylesheet" href="/css/typography.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/images/logo-without-background.png" type="image/x-icon">
</head>
<body>
  <nav id="guest-nav">
    <div class="logo-holder">
      <img src="/images/logo-without-background.png" alt="Logo">
    </div>
    <ul>
      <li>
        <a th:href="@{/}">Home</a>
      </li>
      <li>
        <a th:href="@{/sign-up}">Sign Up</a>
      </li>
      <li>
        <a th:href="@{/sign-in}">Sign In</a>
      </li>
      <li>
        <a th:href="@{/about-us}">About Us</a>
      </li>
    </ul>
  </nav>
  <nav id="user-nav">
    <div class="logo-holder">
      <img src="/images/logo-without-background.png" alt="Logo">
    </div>
    <ul>
      <li>
        <a th:href="@{/home}">Home</a>
      </li>
      <li>
        <a th:href="@{/profile}">Profile</a>
      </li>
      <li>
        <a th:href="@{/add-recipe}">Add Recipe</a>
      </li>
      <li>
        <a th:href="@{/about-us}">About Us</a>
      </li>
      <li>
        <form th:action="@{/logout}" th:method="post">
          <button>Sign Out</button>
        </form>
      </li>
    </ul>
  </nav>
  <footer class="footer">
    <div class="footer-logo">
      <img src="/images/logo-without-background.png" alt="Logo">
    </div>
    <div class="footer-content">
      <p>&copy; 2023 DishDiscovery. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>