/*
============================
NAVIGATION
============================
 */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 6px black;
    border-bottom: 2px dashed purple;
}

nav .logo-holder img {
    height: 10rem;
    width: 15rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 2em 3em;
    padding: 1em 2em;
    transition: .4s;
    border-radius: 0.4em;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

nav ul li form button {
    background-color: transparent;
    text-transform: uppercase;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    border: none;
    cursor: pointer;
    color: black;
}

nav ul li:hover {
    background-color: #6F2DBD;
}

nav ul li:hover form button {
    color: white;
}

nav ul li:hover a {
    color: white;
}

/*
============================
MAIN
============================
 */

.hero {
    background-image: url('/images/hero-background.png');
    background-attachment: fixed;
    color: white;
    background-size: cover;
    padding: 100px 0;
    text-align: center;
}

.hero h1 {
    font-size: 64px;
    margin-bottom: 20px;
    -webkit-text-stroke: 1px black;
}

.hero p {
    font-size: 32px;
    margin-bottom: 30px;
    -webkit-text-stroke: 1px black;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    width: 12rem;
    font-size: 16px;
    background-color: #A663CC;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 0 2px black;
}

.featured-recipes {
    background-color: #fff;
    padding: 60px 0;
    text-align: center;
    margin: 0 6rem;
}

.featured-recipes h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.featured-recipes-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    flex-wrap: wrap;
}

/* Recipe card styles */
.recipe-card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    transition: transform 0.2s;
    width: 20rem;
}

.recipe-card:hover {
    transform: translateY(-5px);
}

.recipe-card img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px;
}

.recipe-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.recipe-description {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
}

.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #A663CC;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.btn-primary:hover {
    background-color: #6F2DBD;
}

/* About Us section styles */
.about-us {
    background-color: #fff;
    padding: 60px 0;
    text-align: center;
}

.about-us h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.about-us p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    width: 60%;
    margin: 1em auto;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    .about-us p {
        margin: 10px auto;
        width: 100%;
    }
}

/* Social Media section styles */
.social-media {
    background-color: #EACAFF;
    padding: 60px 0;
    text-align: center;
}

.social-media h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.social-icons {
    margin-top: 20px;
}

.social-icon {
    display: inline-block;
    margin: 0 15px;
    transition: transform 0.2s;
}

.social-icon img {
    width: 40px;
    height: 40px;
}

.social-icon:hover {
    transform: scale(1.1);
}

/* Style for the sign-up form */
.signup {
    text-align: center;
    padding: 60px 0;
}

.signup h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.signup form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.signup label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.signup input[type="text"],
.signup input[type="password"],
.signup input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #A663CC;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.signup button:hover {
    background-color: #6F2DBD;
}

/* Optional: Style for error messages */
.signup .error-signup-message {
    color: red;
    margin-bottom: 10px;
}

/* Style for the sign-in form */
.signin {
    text-align: center;
    padding: 60px 0;
}

.signin h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.signin form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.signin label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.signin input[type="text"],
.signin input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signin button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.signin button:hover {
    background-color: #0056b3;
}

/* Optional: Style for error messages */
.error-message {
    color: red;
    margin: 10px 0;
}

#recipe-filters {
    background-color: #f5f5f5;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

#recipe-filters h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#recipe-filters form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#recipe-filters label {
    flex-basis: 100%;
    font-weight: bold;
}

#recipe-filters select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#recipe-filters button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

#recipe-filters button:hover {
    background-color: #0056b3;
}

/*
============================
FOOTER
============================
 */

.footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 0 4px gray;
}

.footer-logo img {
    width: 200px;
    height: auto;
}

.footer-content p {
    color: #888;
    font-size: 14px;
    margin: 10px 0 0;
}
