<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{/fragments/commons::head}"></head>
<body>
  <nav th:replace="~{/fragments/commons::nav#guest-nav}"></nav>
  <main>
    <section class="signup">
      <div class="container">
        <h2>Sign Up</h2>
        <form th:action="@{/sign-up}" th:method="post" th:object="${registerUserDTO}">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" th:field="*{username}" required>
          <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error-signup-message"></p>

          <label for="password">Password:</label>
          <input type="password" id="password" name="password" th:field="*{password}" required>
          <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-signup-message"></p>

          <label for="confirmPassword">Confirm Password:</label>
          <input type="password" id="confirmPassword" name="confirmPassword" th:field="*{confirmPassword}" required>
          <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="error-signup-message"></p>

          <label for="fullName">Full Name:</label>
          <input type="text" id="fullName" name="fullName" th:field="*{fullName}" required>
          <p th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="error-signup-message"></p>

          <label for="email">Email:</label>
          <input type="email" id="email" name="email" th:field="*{email}" required>
          <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-signup-message"></p>

          <button type="submit">Sign Up</button>
        </form>
      </div>
    </section>
  </main>
  <footer th:replace="~{/fragments/commons::footer}"></footer>
</body>
</html>